{% extends "index.html" %}
{% block content %}
<h2>Ingrese el número</h2>
<div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
        <form action="main.html" method="POST">
            <div class="img">
                <img src="img/1.png" alt="dato">
            </div>
            <div class="userInput">
                <input type="text" value="" name="dato" id="dato" autocomplete="off"/>
                <input type="submit" class="btn btn-success" value="Enviar" name="enviar"/>
            </div>
        </form>
    </div>
    <div class="col-lg-3">
    </div>
</div>
{% endblock content %}
