<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block head_title %}Escrutinio Social{% endblock head_title %}</title>
        <!-- Bootstrap core CSS -->
        <link href="{% static "escrutiniosocial/css/bootstrap.css" %}" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{% static "escrutiniosocial/css/jumbotron-narrow.css" %}" rel="stylesheet">
        <link href="{% static "escrutiniosocial/css/auth-buttons.css" %}" rel="stylesheet">
        <!-- Just for debugging purposes. Don't actually copy this line! -->
        <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% block extra-header %}
        {% endblock extra-header %}
    </head>
    <body>
        <div class="container">
            <div class="header">
                <a href="{% url 'home' %}">
                    <img src="{% static "escrutiniosocial/img/logo.png" %}">
                </a>
            </div>
            <div class="jumbotron">
            {% include 'bootstrap_toolkit/messages.html' %}

            {% block navbar %}
            {% if user.is_authenticated %}
            <div class='pull-left'>
                {% blocktrans with name=user.get_full_name|default:user.username %}
                    You are logged in as {{ name }}.
                {% endblocktrans %}
            </div>
            <div class='pull-right'>
                <a class='btn btn-mini btn-default' href="{% url 'home' %}">{% trans 'Home' %}</a>
                <a class='btn btn-mini btn-default' href="{% url 'account_email' %}">{% trans 'Profile' %}</a>
                <a class='btn btn-mini btn-default' href="{% url 'account_logout' %}">{% trans 'Log Out' %}</a>
            </div>
            {% else %}
            <div class='pull-right'>
                <a class='btn btn-mini btn-default' href="{% url 'account_login' %}">{% trans 'Sign In' %}</a>
                <a class='btn btn-mini btn-default' href="{% url 'account_signup' %}">{% trans 'Sign Up' %}</a>
            </div>
            {% endif %}
            <div class="clearfix"></div>
            {% endblock navbar %}

            {% block content %}
            {% endblock content %}

            </div>

            <div class="footer">
                <p>&copy; Company 2013</p>
            </div>

        </div> <!-- /container -->
    </body>
</html>
