{% extends "index.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h2>Escrutinio Social</h2>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut 
    </div>
    <div class="col-lg-6">
        <div class="login-form">
            <form class="form-horizontal" method='POST'>
		{% csrf_token %} 
		{{ form|as_bootstrap }}
                <div class="control-group">        
                <div class="controls">                    
			<input class='btn btn-success' type="submit" value="Ingresar"/>
                </div>
            </form>
            <p>
                ¿No tiene usuario? <a href="{% url 'account_signup' %}">{% trans 'Registrarse' %}</a><br/>
                <a href="#">Olvidé mi contraseña</a>
            </p>
        </div>
    </div>
</div>
<div class="row marketing">
    <div class="col-lg-12 center">
        <a class="btn-auth btn-facebook" href="#button">Ingresar con <b>Facebook</b></a>
        <a class="btn-auth btn-twitter" href="#button">Ingresar con <b>Twitter</b></a>
        <a class="btn-auth btn-google" href="#button">Ingresar con <b>Google</b></a><br/>
        <a class="btn-auth btn-windows" href="#button">Ingresar con <b>Live</b></a>
        <a class="btn-auth btn-yahoo" href="#button">Ingresar con <b>Yahoo</b></a>
        <a class="btn-auth btn-github" href="#button">Ingresar con <b>GitHub</b></a>
    </div>
</div>
{% endblock content %}

