{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_toolkit %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block navbar %}{% endblock navbar %}

{% block content %}
<div class="row">
    <div class="col-lg-6">
        <h2>Registro de nuevo usuario</h2>
        <p>
            Something something some.
        </p>
    </div>
    <div class="col-lg-6">
        <form class="form-vertical" method='POST'>
            {% csrf_token %}
            {{ form|as_bootstrap }}
            <div class="control-group">
                <div class="controls">
                    <input class='btn btn-success' type="submit" value="Registrarse"/>
                </div>
            </div>
        </form>
            <p>
                ¿Ya tienes usuario?
                <a href="{% url 'account_login' %}">Ingresar</a>
            </p>
    </div>
</div>
{% include 'account/social-signin.html' %}
{% endblock content %}
